@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   margin: 0 auto;
   padding: 0;
   background-color: #17191a;
}

.container {
   color: #fafdff;
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 100%;
   padding: 70px 0;
   text-align: left;
   font-family: "Inter", sans-serif;
}

.container > div {width: 70%;}

hr {
   border: none;
   border-top: 2px dotted #4b4c4d;
   width: 200px;
   margin: 70px auto;
}

h1 {
   font-size: 2.5rem;
   font-weight: 300;
   text-underline-offset: 14px;
}

h2 {
   margin-bottom: 30px;
   font-size: 35px;
   font-weight: 300;
   letter-spacing: -1px;
}

p {
   font-size: 1.1rem;
   font-weight: 300;
   letter-spacing: 0.4px;
   line-height: 1.6;
}

.links {
   display: flex;
   justify-content: center;
   max-width: 50%;
}
a {
   text-decoration: none;
   font-size: 1.5rem;
   color: #40dfff;
}
a:hover {color: #0f8299;}

@media (max-width: 800px) {
   .container {font-size: 1.4rem;}
   h1 {
      font-size: 1.6em; 
      text-align: center;
   }
   .container > div {width: 80%;}
}
