@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   margin: 0 auto;
   padding: 0;
   background-color: #18191A;
}

.container {
   color: #FAFCFF;
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 100%;
   margin: 70px auto;
   text-align: left;
   font-family: "Inter", sans-serif;
}

.container > div {width: 70%;}

hr {
   border: none;
   border-top: 5px dotted #2F3033;
   width: 100px;
   margin: 60px auto;
}

h1 {
   font-size: 3rem;
   font-weight: 300;
   text-underline-offset: 14px;
   color: #40dfff;
}

h2 {
   font-size: 2.5rem;
   font-weight: 300;
   margin-bottom: 30px;
}

p {
   font-size: 1.1rem;
   font-weight: 300;
   letter-spacing: 0.3px;
   line-height: 1.7;
}

.links {
   display: flex;
   justify-content: center;
   max-width: 50%;
}
a {
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 1.4rem;
   font-weight: 500;
   color: #40dfff;
}
a:hover {color: #288A9E;}

@media (max-width: 720px) {
   h1 {
      font-size: 2.5rem; 
      text-align: center;
   }
   h2 {font-size: 2.2rem;}
   p {font-size: 1rem;}
   a {font-size: 1.2rem;}
   .container > div {width: 90%;}
}
